p, span, h1 {
	color: red;
	font-size: 12px;
}

.p-text {
	color: orangered;
}

.div.container {
	color: yellowgreen;
	padding: 50px;
	border: 1px solid #000000;
	margin: 100px;
	width: 500px;
	box-sizing: border-box;
}

.p-text.div-font-size-50 {
	color: red;
	font-size: 50px;

}
.div.p-text {
	color: red;
}

