.outer-div {
	height: 100vh;
	display: flex;
	/* row, row reverse, column, column-reverse*/
	flex-direction: row;
	/* centre, flex-start, flex-end, space between, space around, space */
	align-items: baseline;

	/* flex end, flex end, stretch,baseline*/
}

.inner-div {
	border: 1px dotted blueviolet;
	padding: 30px;
	text-align: center;
	width: 50%;

}

.box-1 {
	display: flex;
	background-color: palegreen;
	/*flex-grow: 1;*/
	/*align-self: flex-start;*/
	flex-shrink: 2;
}
.box-2 {
	background-color: paleturquoise;
	/*align-self: stretch;*/
	/*flex-grow: 1;*/
	flex-shrink: 5;
}
.box-3 {
	background-color: limegreen;
	/*align-self: center;*/
	/*flex-grow: 2;*/
	flex-shrink: 5;
}